## 1-11, 21-76, 91, 92, 151_25-160_25, 161-195, 201-204, 211-223, 231, 249-261, 358, 359

### total 147

In [1]:
import math

### 1

In [70]:
def problem_1(x, y):
    return (y + 1) * (x + (x**2 +1)**6 * math.sin(x**2 - 3) - math.tan(y))

problem_1(2, 0.5)

19724.15675270031

### 2

In [72]:
def problem_2(x, y):
    return (x**2 - 4)/(y**2) + 2 ** math.sin(math.sqrt(x**2 +1))

problem_2(2, 4)

1.7251826731242863

### 3

In [75]:
def problem_3(x, y):
    return 1 / math.tan(abs(x**2 - y)/(x**2 + y ** 2) + math.log(x**2 + 1))

problem_3(2, 1)

-0.7424345090276335

### 4

In [78]:
def problem_4(x):
    return math.log(math.exp(x) +1) + math.pow(math.pow(x, 2) + 4, 1/3)
    
problem_4(2)

4.126928011042972

### 5

In [80]:
def problem_5(x, y):
    return (math.pow(2, x) - 5) / (math.pow(3, y) + 2) + math.log(((abs(x)+1)**4) + y**2)/math.log(2)

problem_5(2, 2)

6.318481845228612

### 6

In [5]:
def problem_6(x, y):
    return math.atan((3*x+4)/((y**2)+ 4)) + math.pow((x**2 + 3)**3, 1/2)

### 7

In [4]:
def problem_7(x, y):
    return ((x**2 + y**2) ** 5 + 4) ** 7 + math.sin(math.cos(x+y))

### 8

In [3]:
def problem_8(x, y):
    return math.pow(x**2 + math.pow(y**2 + 4, 1/3), 1/4) + (abs(x) + abs(y)) ** 10

### 9

In [1]:
def problem_9(x, y):
    z = math.pow(((x+4)/math.pow(y**2 + 4, 3)), 1/5)
    return math.sin(math.pow(x+z, 2)) + 3*z + y/x**2

### 10

In [2]:
def problem_10(x, y):
    z = math.pow(math.sin(math.cos(x+y)+1), 2)
    return math.sin(math.pi/12 + x) * math.cos((y+z)/math.pi + z**2) + math.exp(z+4)

### 11

In [7]:
def problem_11(a, b):
    if a**2 + b**2>5:
        return 3 * math.exp(a-x) + math.log(a**2+b**2+5) / math.log(3)
    elif a**2 + b**2:
        return math.pow(math.tan(a+b), 4)
    else:
        return -3

### 21

In [21]:
def maximum_num(*args):
    max_num = args[0]
    for arg in args[1:]:
        if arg > max_num:
            max_num = arg
    return max_num

assert(maximum_num(1, 2, 3, 4, 5, 6, -2, 0, 99) == 99)

### 22

In [22]:
def minimum_num(*args):
    min_num = args[0]
    for arg in args[1:]:
        if arg < min_num:
            min_num = arg
    return min_num

assert(minimum_num(1, 2, 3, 4, 5, 6, -2, 0, 99) == -2)

### 23

In [23]:
def searching_one(*args):
    for arg in args:
        if arg == 1:
            return True
    return False

assert(searching_one(7, 8, 1, 2, -100) == True)
assert(searching_one(2, 4, -4, 5, 88, 76) == False)

### 24

In [24]:
def searching_two_twos(*args):
    count = 0
    for arg in args:
        if arg == 2:
            count += 1
    if count == 2:
        return True
    else:
        return False
    
assert(searching_two_twos(3, 2, 5, 2, -2) == True)
assert(searching_two_twos(2, 3, 5, 77, 45, -9876) == False)

### 25

In [25]:
def triangle_builder(a, b, c):
    if a < b + c and b < a + c and c < a + b:
        return 'y=1'
    else:
        return 'y=2'
    
assert(triangle_builder(4, 5, 6) == 'y=1')
assert(triangle_builder(4, 1, 2) == 'y=2')

### 26

In [26]:
def even_checker(*args):
    for arg in args:
        if arg % 2 == 0:
            return 1
    return 2

assert(even_checker(1, 3, 5, 7, 11) == 2)
assert(even_checker(1, 3, 24, 7, 11) == 1)

### 27

In [27]:
def arithmetic_progression(*args):
    d = args[1] - args[0]
    for i in range(len(args)-1):
        if args[i+1] - args[i] != d:
            return False
    return True

assert(arithmetic_progression(1, 3, 5, 7, 9, 11, 13, 15, 17) == True)
assert(arithmetic_progression(-1, 1, 3, 5, 7, 9, 11, 13, 14) == False)

### 28

In [28]:
def geometric_progression(*args):
    r = args[1]/args[0]
    for i in range(len(args)-1):
        if args[i+1]/args[i] != r:
            return False
    return True

assert(geometric_progression(2, 3, 4.5, 6.75) == True)
assert(geometric_progression(3, 5, 2345, -1234, 3) == False)

### 29

In [29]:
def increasing_order(*args):
    list_29 = list(args)
    for i in range(1, len(args)+1):
        for k in range(1, len(args)+1):
            if list_29[-i] > list_29[-k]:
                list_29[-i], list_29[-k] = list_29[-k], list_29[-i]
    return tuple(list_29)
increasing_order(1, 3, -2, 5, 2)

(-2, 1, 2, 3, 5)

### 30

In [30]:
def decreasing_order_1(*args):
    list_30_1 = list(args)
    for i in range(1, len(args)+1):
        for k in range(1, len(args)+1):
            if list_30_1[-i] < list_30_1[-k]:
                list_30_1[-i], list_30_1[-k] = list_30_1[-k], list_30_1[-i]
    return list_30_1
decreasing_order_1(1, 3, -2, 5, 2, 0, 7, 6, 4, 5, 6, 90, -8)

[90, 7, 6, 6, 5, 5, 4, 3, 2, 1, 0, -2, -8]

In [31]:
def decreasing_order_2(*args):
    list_30_2 = list(args)
    for i in range(0, len(args)):
        for k in range(i, len(args)):
            if list_30_2[i] < list_30_2[k]:
                list_30_2[i], list_30_2[k] = list_30_2[k], list_30_2[i]
    return tuple(list_30_2)
decreasing_order_2(1, 3, -2, 5, 2, 0, 7, 6, 4, 5, 6, 90, -8)

(90, 7, 6, 6, 5, 5, 4, 3, 2, 1, 0, -2, -8)

### 31

#### Same as 21

### 32

#### Same as 22

### 33

#### Same as 23

### 34

In [32]:
def equal_sums(a, b, c, d):
    return True if a+b==c+d or a+c==b+d or a+d==b+c else False

assert(equal_sums(1, 2, -1, 4) == True)
assert(equal_sums(90, 1, 50, 2) == False)

### 35

In [33]:
def three_equal_one(a, b, c, d):
    return True if a+b+c==d or a+c+d==d or a+b+d==c or b+c+d==a else False

assert(three_equal_one(1, 2, 3, 6) == True)
assert(three_equal_one(2, 25, 4, -8) == False)

### 36

In [34]:
def at_least_two_odds(*args):
    count = 0
    for arg in args:
        if arg % 2 == 1:
            count += 1
    return 1 if count >= 2 else 2
    
assert(at_least_two_odds(3, 6, 9, 21, 48) == 1)
assert(at_least_two_odds(3, 6, 10, 222) == 2)

### 37

#### Same as 27

### 38

#### Same as 28

### 39

#### Same as 29

### 40

#### Same as 30

### 41

In [26]:
def problem_41(x, y):
    if (x**2 + y**2 > 1) and (x**2 + y**2 < 4):
        return 0
    else:
        return x+y

### 42

In [27]:
def problem_42(x, y):
    if (x**2 + y**2)>1 and (x/2+y/2)<1:
        return x + y**2    
    else:
        return 5*x

### 43

In [28]:
def problem_43(x, y):
    if y < 3*x/4 and x**2 + y**2 < 4:
        return x**2+4
    else:
        return 5*x

### 44

In [29]:
def problem_44(x, y):
    if x**2 + (y-1)**2 < 1 and y + x**2 < 1:
        return 7* x**2 +2
    
    else:
        return 0

### 45

In [24]:
def problem_45(x, y):
    if x**2 + y**2<1 and y>x and y> -x:
        return 5* x**2 + 2 * y
    else:
        return -7

### 46

In [22]:
def problem_46(x, y):
    if y + x > 1 and x/2.5 + y/1.5 < 1:
        return math.sin(x)
    else:
        return z

### 47

In [ ]:
def problem_47(x, y):
    if y > 0 and y-x<1 and y + x/2 <1:
        return math.sin(x)
    else:
        return 0

### 48

In [31]:
def problem_48(x, y):
    if x**2+y**2<9 and y+x>2:
        return math.tan(x)
    else:
        return math.cos(x)

### 49

In [32]:
def problem_49():
    if y - x/2 < 1 and y-x**2 > 0:
        return math.log(x**2 + 1) / math.log(5)
    else:
        return y+7

### 50

In [33]:
def problem_50(x, y):
    if x< 3 and y-x <1 and y +x >2:
        return math.exp(x+y)
    else:
        return 10e-7

### 51

In [35]:
def balanced_three_digits(t):
    return True if int(str(t)[-1]) == (int(str(t)[0]) + int(str(t)[1])) else False

assert(balanced_three_digits(123) == True)
assert(balanced_three_digits(124) == False)

### 52

In [36]:
def equal_digits(t):
    # we do not need to convert to integer, since same strings are equal
    return True if str(t)[0] == str(t)[1] or str(t)[1] == str(t)[2] or str(t)[2] == str(t)[0] else False

assert(equal_digits(223) == True)
assert(equal_digits(567) == False)

### 53

In [37]:
def digits_division(t, k):
    num = str(t)
    return t/(int(str(t)[0]) + int(str(t)[1]) + int(str(t)[2])) if t > k else t/(int(str(t)[2]))

assert(digits_division(333, 332) == 37)
assert(digits_division(333, 334) == 111)

### 54

In [38]:
# solved for any length number
def biggist_digit(t):
    L=[]
    for i in range(len(str(t))):
        L.append(int(str(t)[i]))
    
    # here is used problem 21 function
    return maximum_num(*L)

assert(biggist_digit(256) == 6)

### 55

In [39]:
# solved for any length number
def smallest_digit(t):
    L=[]
    for i in range(len(str(t))):
        L.append(int(str(t)[i]))
    
    # here is used problem 22 function
    return minimum_num(*L)

assert(smallest_digit(256) == 2)

### 56

In [40]:
def problem_56(t):
    return t/(int(str(t)[0]) + int(str(t)[1])+ int(str(t)[2])) if (ord(str(t)[-1]) > ord(str(t)[1])) else t

assert(problem_56(234) == 26)
assert(problem_56(243) == 243)

### 57

In [41]:
def bigger_300(t):
    return (int(str(t)[1])/int(str(t)[2])) if t>300 else (int(str(t)[0])/int(str(t)[2]))

assert(bigger_300(342) == 2)
assert(bigger_300(234) == 0.5)

### 58

In [42]:
def f_is_a_or_b(t):
    f = 'a' if int(str(t)[0]) + int(str(t)[1]) < 5 else 'b'
    return f

assert(f_is_a_or_b(123) == 'a')
assert(f_is_a_or_b(345) == 'b')

### 59

In [43]:
def digit_increasing(t):
    L=[]
    for i in range(len(str(t))):
        L.append(int(str(t)[i]))
        
    # here is used problem 22 function
    return int(''.join(str(i) for i in (increasing_order(*L))))

assert(digit_increasing(324) == 234)

### 60

In [45]:
def digit_decreasing(t):
  
    L=[int(x) for x in str(t)]
#     for i in range(len(str(t))):
#         L.append(int(str(t)[i]))
            
    # here is used problem 30 function
    return int(''.join(str(i) for i in (decreasing_order_1(*L))))

assert(digit_decreasing(324) == 432)

### 61

In [46]:
def sum_of_digits(t):
    num=str(t)
    if int(num[0]) + int(num[1]) == int(num[2]) + int(num[3]):
        return True
    else:
        return False
    
assert(sum_of_digits(7988) == True)
assert(sum_of_digits(1350) == False)

### 62

In [47]:
def division_5000(t):
    num = str(t)
    if t < 5000:
        return t/(int(num[-1]) + int(num[1]))
    else:
        return t/(int(num[0]) + int(num[2]))
    
assert(division_5000(3291) == 1097)
assert(division_5000(5000) == 1000)

### 63

In [48]:
def availability_of_1(t):
    return '1' in str(t)

assert(availability_of_1(1234) == True)
assert(availability_of_1(4534) == False)

### 64

In [49]:
def y_value(t):
    num = str(t)
    
    if int(num[-1]) + int(num[-2]) == 5:
        y = 's'
    else:
        y = 'd'
        
    return y

assert(y_value(1232) == 's')
assert(y_value(1235) == 'd')

### 65

In [50]:
def y_12(t):
    num = str(t)
    
    if int(num[-1]) * int(num[-2]) == 12:
        return 'y=12'
    else:
        return 'y=0'
    
assert(y_12(1234) == 'y=12')
assert(y_12(1245) == 'y=0')

### 66

In [51]:
def four_checker(t):
    
    if (str(t)[0] == '4') or (str(t)[-1] == '4'):
        return 'YES'
    else:
        return 'NO'
    
assert(four_checker(1234) == 'YES')
assert(four_checker(4356) == 'YES')
assert(four_checker(2356) == 'NO')

### 67

In [52]:
def square_checker(t):
    num = str(t)
    
    if (int(num[0]) + int(num[1]) + int(num[2]) + int(num[3])) ** 2 == int(num):
        return 'YES'
    else:
        return 'NO'
    
assert(square_checker(1234) == 'NO')

### 68

In [56]:
def multiplication_100_1(t):
    num = str(t)
    if int(num[-1]) > int(num[-2]):
        return int(num[-1]) * int(num[-2])
    else:
        return 1
    
assert(multiplication_100_1(1245) == 20)
assert(multiplication_100_1(1243) == 1)

### 69

In [57]:
def problem_69(t):
    num = str(t)
    total = 0
    
    for i in num:
        total += int(i)
    
    y = 1 if total > 20 else 0
    
    return y

assert()

### 70

In [62]:
def problem_70(t):
    num = str(t)
    total = 1
    
    for i in num:
        total *= int(i)
        
    y = 0 if total > 200 else 1
    
    return y

assert(problem_70(9999) == 0)
assert(problem_70(9909) == 1)

### TRY/EXCEPT

In [34]:
# def absd(t):
#     num = str(t)
#     e = 1
#     try:
#         t/(int(num[-1]) + int(num[1]))
#     except ZeroDivisionError as e:
#         print(e)  
#     except Exception as e:
#         print(e) 
#     print(e)
# absd(1020)

### 71

In [28]:
def problem_71():
    return {i/10: math.tan(2*i/10+(i/10)**2) for i in range(24, 77, 2)}

problem_71()

{2.4: 2.148757947887652,
 2.6: -0.6935302122796663,
 2.8: 1.1940912662880414,
 3.0: -0.8559934009085187,
 3.2: 1.3465881019193238,
 3.4: -0.5328178616030175,
 3.6: 3.7537713228907235,
 3.8: 0.04889032268813888,
 4.0: -2.1348966977217008,
 4.2: 1.2791176673071938,
 4.4: -0.11483470105501913,
 4.6: -1.767503660097022,
 4.8: 2.7676365670197187,
 5.0: 0.473814720414451,
 5.2: -0.26507075658463963,
 5.4: -1.2114009792982812,
 5.6: -6.6844714257303375,
 5.8: 3.08888135207983,
 6.0: 1.2001272431162864,
 6.2: 0.6473606369755862,
 6.4: 0.3683466651470547,
 6.6: 0.2145355992410621,
 6.8: 0.1508688618948631,
 7.0: 0.16974975208268753,
 7.2: 0.27305200454657097,
 7.4: 0.47685605501183204,
 7.6: 0.848063871514372}

### 72

In [39]:
def problem_72():
    return {i/10: math.pow(1/math.tan(math.pow(i/10, 2)), 2) for i in range(-54, 13, 4)}

problem_72()

{-5.4: 0.6677861287209467,
 -5.0: 56.08744723816903,
 -4.6: 0.8325537095420337,
 -4.2: 0.14274769444685223,
 -3.8: 0.0976207106510529,
 -3.4: 0.40085617789440453,
 -3.0: 4.8878374313362,
 -2.6: 3.7475160163991763,
 -2.2: 0.016463009230849802,
 -1.8: 102.59703220282341,
 -1.4: 0.1682019746722486,
 -1.0: 0.41228292743739187,
 -0.6: 7.058203733217357,
 -0.2: 624.3334400270957,
 0.2: 624.3334400270957,
 0.6: 7.058203733217357,
 1.0: 0.41228292743739187}

### 73

In [38]:
def problem_73():
    return {i/10: math.pow(i/10 +1, 2) for i in range(75, 126, 2)}

problem_73()

{7.5: 72.25,
 7.7: 75.68999999999998,
 7.9: 79.21000000000001,
 8.1: 82.80999999999999,
 8.3: 86.49000000000001,
 8.5: 90.25,
 8.7: 94.08999999999999,
 8.9: 98.01,
 9.1: 102.00999999999999,
 9.3: 106.09000000000002,
 9.5: 110.25,
 9.7: 114.48999999999998,
 9.9: 118.81,
 10.1: 123.21,
 10.3: 127.69000000000001,
 10.5: 132.25,
 10.7: 136.89,
 10.9: 141.61,
 11.1: 146.41,
 11.3: 151.29000000000002,
 11.5: 156.25,
 11.7: 161.29,
 11.9: 166.41,
 12.1: 171.60999999999999,
 12.3: 176.89000000000001,
 12.5: 182.25}

### 74

In [43]:
def problem_74():
    return {i/10: math.pow(2, i/10 +4) for i in range(-38, 54, 3)} 

problem_74()

{-3.8: 1.148698354997035,
 -3.5: 1.4142135623730951,
 -3.2: 1.741101126592248,
 -2.9: 2.1435469250725863,
 -2.6: 2.6390158215457884,
 -2.3: 3.2490095854249423,
 -2.0: 4.0,
 -1.7: 4.924577653379664,
 -1.4: 6.062866266041593,
 -1.1: 7.464263932294459,
 -0.8: 9.18958683997628,
 -0.5: 11.313708498984761,
 -0.2: 13.928809012737984,
 0.1: 17.148375400580687,
 0.4: 21.112126572366314,
 0.7: 25.99207668339954,
 1.0: 32.0,
 1.3: 39.396621227037315,
 1.6: 48.50293012833273,
 1.9: 59.71411145835569,
 2.2: 73.51669471981025,
 2.5: 90.50966799187809,
 2.8: 111.43047210190387,
 3.1: 137.1870032046455,
 3.4: 168.89701257893051,
 3.7: 207.9366134671963,
 4.0: 256.0,
 4.3: 315.17296981629875,
 4.6: 388.0234410266618,
 4.9: 477.7128916668455,
 5.2: 588.1335577584816}

### 75

In [83]:
def problem_75():
    x = -math.pi
    dict_75 = {}
    for _ in range(int(2/ (1/8)) +1):
        dict_75[x] = math.pow(math.sin(x), 2)+math.cos(x)
        x += (math.pi * 1/8)
        
    return dict_75
problem_75()

{-3.141592653589793: -1.0,
 -2.748893571891069: -0.7774329231045605,
 -2.356194490192345: -0.20710678118654735,
 -1.9634954084936207: 0.470869958228184,
 -1.5707963267948966: 1.0,
 -1.1780972450961724: 1.2362368229583636,
 -0.7853981633974483: 1.2071067811865475,
 -0.39269908169872414: 1.070326141918013,
 0.0: 1.0,
 0.39269908169872414: 1.070326141918013,
 0.7853981633974483: 1.2071067811865475,
 1.1780972450961724: 1.2362368229583636,
 1.5707963267948966: 1.0,
 1.9634954084936207: 0.470869958228184,
 2.356194490192345: -0.20710678118654735,
 2.748893571891069: -0.7774329231045605,
 3.141592653589793: -1.0}

### 76

In [91]:
def problem_76():
    return {i: (i)**2 + 4* (i)**8 if i>0 else 0 for i in range(-5, 5, 2)}

problem_76()

{-0.5: 0, -0.3: 0, -0.1: 0, 0.1: 5, 0.3: 26253}

### 91

In [100]:
def problem_91(n):
    x_i_1 = 1
    total_sum = 0
    for i in range(1, n+1):
        if i == 1:
            total_sum += x_i_1
            continue
        x_i = 0.5 * abs(x_i_1 -4)
        total_sum+= x_i
        x_i_1 = x_i
    return total_sum


problem_91(2)

2.5

### 92

In [129]:
def problem_92(n):
    try:
        if n > 0 and isinstance(n, int):
            x_i_1 = 0.5
            total_sum = x_i_1
            for _ in range(n):
                x_i = math.tan(x_i_1 + 2)
                total_sum += x_i
                x_i_1 = x_i
            return total_sum
        else:
            raise ValueError('Please give a valid number')
    except ValueError as e:
        return str(e) # et please-y vor tpi

problem_92(-1)

'Please give a valid number'

### 151_25

In [131]:
def problem_151(n):
    total_sum = 0
    for i in range(1, n+1):
        if n % i == 0:
            total_sum += i
    return total_sum

problem_151(13)

14

### 152_25

In [133]:
def problem_152(n):
    total_product = 1
    for i in range(1, n+1):
        if n % i == 0:
            total_product *= i
    return total_product

problem_152(12)

1728

### 153_25

In [134]:
def problem_153(n):
    total_sum = 0
    for i in range(1, n+1):
        if n % i == 2:
            total_sum += i
    return total_sum

problem_153(13)

11

### 154_25

In [135]:
def problem_154(n):
    total_product = 1
    for i in range(1, n+1):
        if n % i == 3:
            total_product *= i
    return total_product

problem_154(12)

9

### 155_25

In [3]:
def problem_155():
    total_sum = 0
    for i in range(10, 100):
        if i%3==0 and i%5==0:
            total_sum += i
    return total_sum

problem_155()

315

### 156_25

In [4]:
def problem_156():
    total_product = 1
    for i in range(10, 100):
        if i%3==0 and i%5==0:
            total_product *= i
    return total_product

problem_156()

8201250000

In [7]:
from functools import reduce

In [9]:
def problem_156_2():
    numbers = [i for i in range(10, 100) if i%3==0 and i%5==0]
    product = reduce(lambda x, y: x * y, numbers)
    return product

problem_156_2()

8201250000

### 157_25

In [11]:
def problem_157():
    total_sum = 0
    for i in range(100, 1000):
        if i % 5 != 0:
            total_sum += i
    return total_sum

problem_157()

396000

### 158_25

In [13]:
def problem_158():
    total_product = 1
    for i in range(100, 1000):
        if i % 2 != 0 and i % 3 != 0:
            total_product *= i
    return total_product

problem_158()

51560686337893068621394645453904170492689335034994170695945721319791862985264239824743975349036297438704753693745166346956946892059312646039665817576233718926452168220708708792049062760928174889745227072568708716230886407782328121370213878334411472693707222623072982997396794476614503315105211125962463095653410403150913010417877807840396489462038239954298288169686020882443420693917806971033103619478755120736640216840269024311435824620050308275328482994111548667272329676626370321812349876707554123339610760982764551630006914957353043677255181616458745252043388159064077594133436757617215963701179607707286537863151227562306056553599208350826900950931529631992956999204204065575278335474736445568882643248289463009635225465708033801876126592215177781916224321497044247308849662658758461475372314453125

### 159_25

In [16]:
def problem_159():
    total_product = 1
    for i in range(100, 1000):
        if i % 3 == 1 and i % 4 == 2:
            total_product *= i
    return total_product

problem_159()

579695196568355862128567933974951448174357381197335180941942299394546823061449119032239063380324687409755252127066851768350208032118524173388337665785817303260066452784896317031710720000000000000000000

### 160_25

In [26]:
def problem_160():
    for i in range(100, 1000):
        if math.sqrt(i *16) == int(math.sqrt(i *16)):
            return i
problem_160()

100

### 161

In [28]:
def problem_161():
    for i in range(1000, 10000):
        if math.sqrt(i*26) == int(math.sqrt(i*26)):
            return i

problem_161()

1274

### 162

In [36]:
def problem_162():
    for i in reversed(range(1000, 10000)):
        if math.sqrt(i*14) == int(math.sqrt(i*14)):
            return i

problem_162()

9464

### 163

In [38]:
def problem_163():
    for i in reversed(range(1000, 10000)):
        if math.sqrt(i*18) == int(math.sqrt(i*18)):
            return i
        
problem_163()

9800

### 164

In [42]:
def problem_164(n):
    for i in range(100, 1000):
        if math.sqrt(i) > n:
            return i

problem_164(22)

485

### 165

In [43]:
def problem_165(n):
    if n ** (1/3) == int(n ** 1/3):
        t = True
    else:
        t = False
    
    return t
    
problem_165(345)

False

### 166

In [45]:
def problem_166(n):
    if n ** (1/4) != int(n ** 1/4):
        y = 0
    else:
        y =1
        
    return y

problem_166(345)

0

### 167

In [46]:
def problem_167(x):
    for i in range(1, 31):
        if math.sin(x**i) <0:
            y = True
        else:
            y = False
    
    return y

problem_167(4)

True

### 168

In [57]:
def problem_168(n):
    for i in range(1, int(math.sqrt(n))+1):
        if n % i == 0:
            p = True
        else:
            p = False
            
    return p

problem_168(16)

True

### 169

In [60]:
def problem_169(x, y):
    for i in range(1, int(x+y)+1):
        if (x+y) % i == 0:
            z = 5
        else:
            z = 6
            
    return z

problem_169(4, 5)

5

### 170

In [68]:
def problem_170(n):
    k = n
    while math.log2(k) != int(math.log2(k)):
        k +=1
    return k
problem_170(34)

64

### 171

In [3]:
def problem_171(n):
    k = 1
    for i in range(1, 1+n):
        k *= i
        
    return k

problem_171(3)

6

### 172

In [26]:
def problem_172(n):
#     if N % 2 == 0:
#         w
#     else:
    k=1
    if n % 2 == 0:
        for i in reversed(range(2, 3+n, 2)):
            if i != 2:
                k *= (i-2)
                
    else:
        for i in reversed(range(1, 3+n, 2)):
            if i != 1:
                k *= (i-2)
        
    return k

print(problem_172(12))
print(problem_172(7))
print(problem_172(4))

46080
105
8

### 173

In [28]:
def problem_173(n, a, b):
    h = (b-a)/n
    L = []
    for i in range(n+1):
        L.append(a+h*i)
        
    return L

problem_173(10, 1, 2)

[1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7000000000000002, 1.8, 1.9, 2.0]

### 174

In [32]:
def problem_174(n):
    x_old = 2
    L = []
    for _ in range(n):
        x_new = 2+1/x_old
        L.append(x_new)
        x_old = x_new
    return L

problem_174(10)

[2.5,
 2.4,
 2.4166666666666665,
 2.413793103448276,
 2.414285714285714,
 2.4142011834319526,
 2.4142156862745097,
 2.414213197969543,
 2.41421362489487,
 2.414213551646055]

### 175

In [35]:
def problem_175(n):
    x_old = 1
    L = []
    for i in range(1, n+1):
        x_new = (x_old+1)/i
        L.append(x_new)
        x_old = x_new
        
    return L

problem_175(10)

[2.0,
 1.5,
 0.8333333333333334,
 0.45833333333333337,
 0.2916666666666667,
 0.2152777777777778,
 0.1736111111111111,
 0.1467013888888889,
 0.12741126543209877,
 0.11274112654320986]

### 176

In [7]:
def _problem_176_(n):    
    if n == 1:
        return 1
    if n == 2:
        return 1
    else:
        return _problem_176_(n-1) + _problem_176_(n-2)

def problem_176(n):
    L = []
    for i in range(1, n+1):
        L.append(_problem_176_(i))
        
    return L
    
problem_176(8)

[1, 1, 2, 3, 5, 8, 13, 21]

### 177

In [56]:
def problem_177(n):
    x_1 = 1
    x_2 = 2
    L = []
    for _ in range(n):
        x_new = (x_1 + 2*x_2)/3
        L.append(x_new)
        x_1 = x_2
        x_2 = x_new
    return L

problem_177(10)

[1.6666666666666667,
 1.777777777777778,
 1.7407407407407407,
 1.7530864197530864,
 1.748971193415638,
 1.7503429355281208,
 1.749885688157293,
 1.750038103947569,
 1.7499872986841438,
 1.7500042337719524]

### 178

In [57]:
def problem_178(n):
    x_1 = 1
    x_2 = 2
    x_3 = 3
    L = []
    for _ in range(n):
        x_new = x_3 + x_2 - 2 * x_1
        L.append(x_new)
        x_1 = x_2
        x_2 = x_3
        x_3 = x_new
        
    return L

problem_178(12)

[3, 2, -1, -5, -10, -13, -13, -6, 7, 27, 46, 59]

### 179

In [62]:
def problem_179(n, k):
    q = 0
    while n-k>0:
        n = n - k
        q += 1
    return q, abs(n-k)
       
problem_179(8, 3)

(2, 1)

### 180

In [70]:
def problem_180(n):
    if math.log(n) / math.log(3) == int(math.log(n) / math.log(3)):
        return True
    else:
        return False

problem_180(81)

True

### 181

In [73]:
def problem_181(n):
    return math.log2(n)

problem_181(16)

4.0

### 182

In [83]:
def problem_182(n):
    for i in reversed(range(int(n/2)+1)):
        if i**2<=n:
            return i
        
problem_182(4)

2

### 183

In [2]:
def problem_183(n):
    for i in range(int(n/2)+1):
        if 3**i>n:
            return i   

problem_183(45)

4

### 184

In [3]:
def problem_184(n):
    for i in reversed(range(1, n+1)):
        if math.log(n)/math.log(i)>3:
            return i
        
problem_184(234)

6

### 185

In [9]:
def problem_185(p):
    n = 30000
    k=0
    while n < 100000:
        k += 1
        n *= ((p+100)/100)
    return k
 
problem_185(4.5)

28

### 186

In [11]:
def problem_186(p):
    d = 20
    k = 0
    while d < 80:
        k += 1
        d *= ((p+100)/100)
    return k

problem_186(33)

5

### 187

In [13]:
def problem_187(n):
    for i in range(2, int(math.sqrt(n))+1):
        if n % i == 0:
            return True
        
    return False

problem_187(19)

False

### 188

In [16]:
def problem_188(n):
    if math.sqrt(5*(n**2) + 4) == int(math.sqrt(5*(n**2) + 4)):
        return True
    elif math.sqrt(5*(n**2) - 4) == int(math.sqrt(5*(n**2) - 4)):
        return True
    else:
        return False
    
problem_188(3)

True

### 189

In [23]:
def problem_189(n):
    f_n_1 = 0
    _problem_176_(n)
    k = 1
    while f_n_1 < n:
        f_n_1 = _problem_176_(k)
        k+=1
    return f_n_1

problem_189(35)

55

### 190

In [34]:
def _problem_190_(k):
    x1 = 1
    x2 = 2
    L = []
    for _ in range(k):
        x_new = (x1+2*x2)/3
        L.append(x_new)
        x1 = x2
        x2 = x_new
    return L

def problem_190(eps):
    k = 1
    while abs(sum(_problem_190_(k+1)) - sum(_problem_190_(k)))<eps:
        k+=1
    return k

problem_190(1)

1

### 191

In [2]:
def problem_191(n, x):
    num = 1
    for i in range(1, n+1):
        num += x**n
        
    return num

problem_191(5, 2)

161

### 192

In [5]:
def problem_192(n, x):
    num = 1
    for i in range(1, n+1):
        num += (-1)**i * x**i
    
    return num

problem_192(5, 2)

-21

### 193

In [13]:
def problem_193(n):
    num = 1
    k = 0
    for i in range(1, n+1):
        num *= i
        k += num
        
    return k

problem_193(3)

9

### 194

In [16]:
def problem_194(n):
    num = 1
    k = 1
    for i in range(1, n+1):
        num *= i
        k += 1/num
        
    return k

problem_194(5)

2.7166666666666663

### 195

In [17]:
def problem_195(n, x):
    num = 1
    k = 1
    for i in range(1, n+1):
        num *= i
        k += x**i/num
        
    return k

problem_195(10, 2)

7.388994708994708

### 196

In [22]:
# def problem_196(n, x):
#     k = x
#     num = 1
#     for i in range(3, n+1):
#         if i % 2 != 0:
#             d = 2*i+1
#             num *= d *(d-1)
#             if (i // 2) % 2 == 1:
                
#                 k += ((-1)* (x**d)/num)
#             else:
#                 k += ((x**d)/num)
            
#     return k
                
# problem_196(3, 2)

-16.285714285714285

### 201

In [23]:
def problem_201(n):
    k = 1
    while n//10:
        k+=1
        n = n //10
        
    return k

problem_201(432265965121)

12

### 202

In [49]:
def problem_202_1(n):
    total = 0
    i = 0
    while n // (10**i):
        total += (n //(10**i) %10)
        i +=1
        
    return total

problem_202_1(31)

4

### 203

In [68]:
def problem_203(n):
    total = 1
    i = 0
    while n // (10**i):
        total += (n //(10**i) %10)
        i +=1
        
    return total

problem_203(351)

10

### 204

In [81]:
def problem_204_1(n):
    total = 0
    while n:
        total = 10*total +(n%10)
        n = n // 10

    return total

problem_204(31)

13

### 211

In [2]:
def problem_211(n: list) -> float:
    k = 0
    length = len(n)
    for i in range(length):
        if n[i] > 0:
            k += n[i]/length
    if k == 0:
        return 'Not founded positive numbers'
    else:
        return k

problem_211([20, 12, -4, 16])

12.0

### 212

In [16]:
def problem_212(n: list) -> float:
    k = 0
    length = len(n)
    for i in range(length):
        if n[i] > 0:
            k += ((n[i]) ** 2)/2
    if k == 0:
        return 'Not founded positive numbers'
    else:
        return math,sqrt(k)
#     try:
#         return math.sqrt(k)
#     except ValueError:
#         return 'Not founded positive numbers'
    
problem_212([-1, -2])

'Not founded positive numbers'

### 213

In [20]:
def problem_213(n: list) -> float:
    k = 0
    length = len(n)
    for i in range(length):
        if n[i] < 0:
            k += ((n[i]) ** 2)/2
    if k == 0:
        return 'Not founded negative numbers'
    else:
        return math.sqrt(k)
#     try:
#         return math.sqrt(k)
#     except ValueError:
#         return 'Not founded positive numbers'
    
problem_213([-4, -4])

4.0

### 214

In [22]:
def problem_214(n : list) -> float:
    k = 0
    length = len(n)
    for i in range(length):
        if n[i] < 0:
            k += n[i]/length
    if k == 0:
        return 'Not founded negative numbers'
    else:
        return k  
    
problem_214([-2, -3])

-2.5

### 215

In [31]:
def problem_215(n : list) -> float:
    k = 0
    for i in range(0, len(n), 2):
        k += n[i]
        
    return k
        
problem_215([0, 2, -1, 4, 34])

33

### 216

In [32]:
def problem_216(n : list) -> float:
    k = 1
    for i in range(0, len(n), 2):
        k *= n[i]
        
    return k
        
problem_216([0, 2, -1, 4, 34])

0

### 217

In [33]:
def problem_217(n : list) -> float:
    k = 1
    for i in range(1, len(n), 2):
        k *= n[i]
        
    return k
        
problem_217([0, 2, -1, 4, 34])

8

### 218

In [34]:
def problem_218(n : list) -> float:
    k = 0
    for i in range(1, len(n), 2):
        k += abs(n[i])
        
    return k
        
problem_218([0, 2, -1, -44, 34])

46

### 219

In [39]:
def problem_219(n: list, k: int) -> float:
    s = 0
    for i in range(len(n)):
        if i % k == 0:
            s+=1
            
    return s

problem_219(n=[1, 2, 3, 4, 5, 6, 7, 8, 9, 0], k=4)

3

### 220

In [45]:
def problem_220(n: list) -> str:
    odd = 0
    even = 0
    for i in range(len(n)):
        if n[i] % 2 == 0:
            even += 1
        elif n[i] % 2 == 1:
            odd += 1
    if even < 2 and odd < 2:
        return f'There is {even} even number and {odd} odd number'
    elif even > 1 and odd < 2:
        return f'There are {even} even numbers and {odd} odd number'
    elif even < 2 and odd >1:
        return f'There is {even} even number and {odd} odd numbers'
    else:
        return f'There is {even} even numbers and {odd} odd numbers'

problem_220([1, 2, 3, 4, 5, 6, 7, 9, 0])

'There is 4 even numbers and 5 odd numbers'

### 221

In [56]:
def problem_221(n: list, mijakayq: range) -> float:
    k = 0
    for i in n:
        if i in mijakayq:
            k += i
            
    return k

problem_221([1, 2, 3, 4, 5, 6 ,7 , 8, 9], range(2, 4))

5

### 222

In [58]:
def problem_222(n: list, mijakayq: range) -> float:
    k = 1
    for i in n:
        if i in mijakayq:
            k *= i
            
    return k

problem_222([1, 2, 3, 4, 5, 6 ,7 , 8, 9], range(2, 4))

6

### 223

In [60]:
def problem_223(n: list, mijakayq: range) -> int:
    k = 0
    for i in n:
        if i in mijakayq:
            k += 1
            
    return k

problem_223([1, 2, 3, 4, 5, 6 ,7 , 8, 9], range(2, 4))

2

### 231

In [62]:
def problem_231(n: list) -> int:
    k = 0
    for i in n:
        if i % 2 == 0:
            k += i ** 2
            
    return k

problem_231([1, 2, 3, 4, 6])

56

### 249

In [85]:
def problem_249(n: list, k: float | int) -> float:
    s = 0
    for i in range(len(n)):
        if abs(i-n[i]) > k:
            s += 1
    
    return s
problem_249([1, 2, 3, 4, 5, 6, 7, 8, 9, 150, 151], 3)

2

### 250

In [63]:
def problem_250(n: list) -> int:
    k = 1
    for i in range(len(n)):
        if (i+n[i]) % 3 == 2:
            k *= n[i] ** 2
            
    return k

problem_250([1, 2, 3, 4, 5, 6, 7, 8, 9])

26244

### 251

In [66]:
def problem_251(n: list) -> int | float:
    k = n[0]
    for i in n:
        if i > k:
            k = i
    return k

problem_251([-3, 4, 7])

7

### 252

In [67]:
def problem_252(n: list) -> int | float:
    k = n[0]
    for i in n:
        if i < k:
            k = i
    return k

problem_252([-3, 4, 7])

-3

### 253

In [69]:
def problem_253(n: list) -> int:
    mecaguyn = n[0]
    poqraguyn = n[0]
    for i in n:
        if i > mecaguyn:
            mecaguyn = i
        elif i < poqraguyn:
            poqraguyn = i
            
    return mecaguyn + poqraguyn

problem_253([-3, 7, 8])

5

### 254

In [70]:
def problem_254(n: list) -> int:
    mecaguyn = n[0]
    poqraguyn = n[0]
    for i in n:
        if i > mecaguyn:
            mecaguyn = i
        elif i < poqraguyn:
            poqraguyn = i
            
    return mecaguyn * poqraguyn

problem_254([-3, 7, 8])

-24

### 255

In [71]:
def problem_255(n: list) -> int:
    mecaguyn = n[0]
    indexy = 0
    for i in range(len(n)):
        if n[i] > mecaguyn:
            mecaguyn = n[i]
            indexy = i
            
    return mecaguyn * indexy

problem_255([1, 2, 3, -5, 8])

32

### 256

In [72]:
def problem_256(n: list) -> int:
    mecaguyn = n[0]
    indexy = 0
    for i in range(len(n)):
        if n[i] < mecaguyn:
            mecaguyn = n[i]
            indexy = i
            
    return mecaguyn * indexy

problem_256([1, 2, 3, -5, 8])

-15

### 257

In [75]:
def problem_257(n: list) -> int:
    indexy = 0
    mecaguyny = n[0]
    for i in range(len(n)):
        if n[i] > mecaguyny:
            indexy = i
            mecaguyny = n[i]
            
    return indexy

problem_257([2, 3, 5, -3, 5])

2

### 258

In [76]:
def problem_258(n: list) -> int:
    indexy = 0
    mecaguyny = n[0]
    for i in range(len(n)):
        if n[i] >= mecaguyny:
            indexy = i
            mecaguyny = n[i]
            
    return indexy

problem_258([2, 3, 5, -3, 5])

4

### 259

In [78]:
def problem_259(n: list) -> int:
    indexy = 0
    poqraguyny = n[0]
    for i in range(len(n)):
        if n[i] < poqraguyny:
            indexy = i
            poqraguyny = n[i]
            
    return indexy

problem_259([2, -3, 5, -3, 5])

1

### 260

In [79]:
def problem_260(n: list) -> int:
    indexy = 0
    poqraguyny = n[0]
    for i in range(len(n)):
        if n[i] <= poqraguyny:
            indexy = i
            poqraguyny = n[i]
            
    return indexy

problem_260([2, -3, 5, -3, 5])

3

### 261

In [1]:
def problem_261(n: int, X: list, Y: list) -> float:
    """
    This function is doing this!
    
    params:
    n - int, 
    X
    Y
    output - float, 
    """
    mean_X = 0
    mean_Y = 0
    for i in X:
        mean_X += i/n # divi
        
    for i in Y:
        mean_Y += i/n
        
    return mean_X * mean_Y

### 358

In [22]:
def problem_358(L: list) -> int:
    k = 0
    for i in range(len(L)):
        if abs(L[i] - round(L[i])) < abs(L[k] -round(L[k])): #
            k = i
    return k
        
problem_358([1.4, 2.3, 3.02, 3.6])

2

### 359

In [24]:
def problem_359(x: float, L: list) -> int:
    for k in range(1, len(L)+1):
        if L[k-1] < x and L[k] > x:
            return k
    return 'NO'
        
problem_359(23.4, [1, 2, 3, 56, 345])

3

### 360